In [1]:
import spacy
import pandas as pd
import itertools as it
import regex as re
import datetime
from gensim.models import Phrases
from gensim.models.word2vec import LineSentence
import os

In [2]:
merged = pd.read_csv("merged_2008_qtr1.csv")

In [3]:
survived = pd.read_csv("survived_2008_qtr1.csv")

In [4]:
merged["label"] = 1

In [5]:
survived["label"] = 0

In [6]:
merged

,CIK,full_text,year,quarter,report_type,Company,Name,CIK #,label
0,25191,\n10-K\n1\na2182824z10-k.htm\n10-K\n\n\n\n\n\n...,2008,1,10-K,CFC,CountryWide,25191,1
1,806085,\n10-K\n1\na08-3530_110k.htm\n10-K\n\n\n\n\n\n...,2008,1,10-K,LEH,Lehman Brothers,806085,1
2,36995,\n10-K\n1\ng11813e10vk.htm\nWACHOVIA CORPORATI...,2008,1,10-K,WB,Wacovia,36995,1
3,777001,\n10-K\n1\nbe11750956-10k.txt\nANNUAL REPORT\n...,2008,1,10-K,BSC,Bear Stearns,777001,1
4,65100,\n10-K\n1\ny46644e10vk.htm\nFORM 10-K\n\n\n\n1...,2008,1,10-K,MER,Merill Lynch,65100,1

In [7]:
survived

,CIK,full_text,year,quarter,report_type,Company,Name,CIK #,label
0,70858,\n10-K\n1\nd10k.htm\nFORM 10-K\n\n\nForm 10-K\...,2008,1,10-K,BAC,Bank of America,70858,0
1,19617,\n10-K\n1\nd10k.htm\nFORM 10-K\n\n\nForm 10-K\...,2008,1,10-K,JPM,J P Morgan Chase & Co.,19617,0
2,72971,\n10-K\n1\nf38267e10vk.htm\nFORM 10-K\n\n\n\ne...,2008,1,10-K,WFC,Wells Fargo,72971,0
3,5272,\n10-K\n1\ny44393e10vk.htm\nFORM 10-K\n\n\n\nF...,2008,1,10-K,AIG,American International Group,5272,0
4,831001,\n10-K\n1\nd10k.htm\nFORM 10-K\n\n\nForm 10-K\...,2008,1,10-K,C,Citi,831001,0

In [8]:
df = merged.append(survived)

In [9]:
df.reset_index(inplace=True, drop = True)

In [10]:
df.head(3)

,CIK,full_text,year,quarter,report_type,Company,Name,CIK #,label
0,25191,\n10-K\n1\na2182824z10-k.htm\n10-K\n\n\n\n\n\n...,2008,1,10-K,CFC,CountryWide,25191,1
1,806085,\n10-K\n1\na08-3530_110k.htm\n10-K\n\n\n\n\n\n...,2008,1,10-K,LEH,Lehman Brothers,806085,1
2,36995,\n10-K\n1\ng11813e10vk.htm\nWACHOVIA CORPORATI...,2008,1,10-K,WB,Wacovia,36995,1

In [144]:
def punct_space(token):
    return (token.is_punct or token.is_space or token.is_stop or token.is_digit)

def getting_file_ready(text, process_time = True):
    start = datetime.datetime.now()
    unicode_text = unicode(text, encoding = "utf-8")
    nospace = re.sub("\n"," ", unicode_text)
    new = nlp(nospace)
    return new

def lemmatized_sentence_corpus(data_file):
    parsed_review = getting_file_ready(data_file)
    lemmatized = list()
    for sentence in parsed_review.sents:
        for token in sentence:
            if not punct_space(token):
                lemmatized.append(token.lemma_)
    lemmatized = filter(lambda x: not re.findall("htm",x),lemmatized)
    lemmatized = filter(lambda x: len(x)>2, lemmatized)
    lemmatized = filter(lambda x: not re.findall("\x95", x), lemmatized)
    lemmatized = filter(lambda x: not re.findall("\x97", x), lemmatized)
    lemmatized = filter(lambda x: not re.findall("\$", x), lemmatized)
    lemmatized = filter(lambda x: not re.findall("\.txt", x), lemmatized)
    lemmatized = filter(lambda x:(x != "filer") and (x != "contents") and (x != "table") and (x != "report") and
                        (x != "10-k.") and (x != "10-k") and (x != "12b-2") and (x != "document") and (x != "financial")
                        and (x != "united") and (x != "states") and (x != "security") and (x != "form") and (x != "exchange")
                        and (x != "commission") and (x != "15(d ") and (x != "a08") and (x != "company") and (x != "washington")
                        and  (x != "d.c."), lemmatized)
    final_text = u' '.join(lemmatized)
    return final_text

In [145]:
df["full_text_unigram"] = df["full_text"].apply(lambda y: lemmatized_sentence_corpus(y))

In [146]:
df

,CIK,full_text,year,quarter,report_type,Company,Name,CIK #,label,full_text_unigram
0,25191,\n10-K\n1\na2182824z10-k.htm\n10-K\n\n\n\n\n\n...,2008,1,10-K,CFC,CountryWide,25191,1,use link rapidly review countrywide corporatio...
1,806085,\n10-K\n1\na08-3530_110k.htm\n10-K\n\n\n\n\n\n...,2008,1,10-K,LEH,Lehman Brothers,806085,1,securities mark annual pursuant section 15(d s...
2,36995,\n10-K\n1\ng11813e10vk.htm\nWACHOVIA CORPORATI...,2008,1,10-K,WB,Wacovia,36995,1,wachovia corporation wachovia corporation secu...
3,777001,\n10-K\n1\nbe11750956-10k.txt\nANNUAL REPORT\n...,2008,1,10-K,BSC,Bear Stearns,777001,1,annual mark annual pursuant section 15(d secur...
4,65100,\n10-K\n1\ny46644e10vk.htm\nFORM 10-K\n\n\n\n1...,2008,1,10-K,MER,Merill Lynch,65100,1,annual pursuant section 15(d securities act fi...
5,70858,\n10-K\n1\nd10k.htm\nFORM 10-K\n\n\nForm 10-K\...,2008,1,10-K,BAC,Bank of America,70858,0,annual pursuant section 15(d securities act ma...
6,19617,\n10-K\n1\nd10k.htm\nFORM 10-K\n\n\nForm 10-K\...,2008,1,10-K,JPM,J P Morgan Chase & Co.,19617,0,annual pursuant section 15(d securities act fi...
7,72971,\n10-K\n1\nf38267e10vk.htm\nFORM 10-K\n\n\n\ne...,2008,1,10-K,WFC,Wells Fargo,72971,0,e10vk securities annual pursuant section 15(d ...
8,5272,\n10-K\n1\ny44393e10vk.htm\nFORM 10-K\n\n\n\nF...,2008,1,10-K,AIG,American International Group,5272,0,mark annual pursuant section 15(d securities a...
9,831001,\n10-K\n1\nd10k.htm\nFORM 10-K\n\n\nForm 10-K\...,2008,1,10-K,C,Citi,831001,0,citigroups annual citigroup segments products...

In [138]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()

In [147]:
df.iloc[2:8,:]["full_text_unigram"]

2    wachovia corporation wachovia corporation secu...
3    annual mark annual pursuant section 15(d secur...
4    annual pursuant section 15(d securities act fi...
5    annual pursuant section 15(d securities act ma...
6    annual pursuant section 15(d securities act fi...
7    e10vk securities annual pursuant section 15(d ...
Name: full_text_unigram, dtype: object

In [148]:
x_train_counts = count_vect.fit_transform(df.iloc[2:8,:]["full_text_unigram"])

In [149]:
x_train_counts.shape

(6, 6830)

In [152]:
x_train_counts

<6x6830 sparse matrix of type '<type 'numpy.int64'>'
	with 17863 stored elements in Compressed Sparse Row format>

In [156]:
from sklearn.feature_extraction.text import TfidfTransformer

In [157]:
tfidf_transformer = TfidfTransformer()

In [158]:
x_train_tfidf = tfidf_transformer.fit_transform(x_train_counts)

In [159]:
x_train_tfidf.shape

(6, 6830)

In [160]:
from sklearn.naive_bayes import MultinomialNB

In [162]:
df.target = df.iloc[2:8,:]["label"]

In [166]:
clf = MultinomialNB().fit(x_train_tfidf, df.target)

In [177]:
df_test = df.iloc[0:2,:]["full_text_unigram"]

In [180]:
df_test.target = df.iloc[0:2,:]["label"]

In [173]:
X_new_counts = count_vect.transform(df_test)
X_new_tfidf = tfidf_transformer.transform(X_new_counts)

In [174]:
predicted = clf.predict(X_new_tfidf)

In [175]:
predicted

array([0, 0])

In [181]:
df_test.target

0    1
1    1
Name: label, dtype: int64

In [25]:
#a = "Spacy is a stupid program and it is super hard to use"
#b = unicode(a, encoding="utf-8")
#c = nlp(b)

In [40]:
def punc_space(token):
    return (token.is_punct or token.is_space or token.is_stop)

def lemmatized_sentence_corpus(texts):
    new_text = list()
    for token in c:
        if punc_space(token):
            continue
        else:
            new_text.append(token.lemma_)
    a = u" ".join(new_text)
    return a

In [41]:
new = lemmatized_sentence_corpus(c)

In [49]:
d = nlp(new)

In [153]:
def starts_with(token):
    if "$" in token:
        print True
        return True
    else: 
        print False
        return False

In [152]:
sentence = " I love 3 apples for $80."
b = unicode(sentence, encoding = "utf-8")
new = nlp(b)

In [158]:
for token in new:
    print token, token.is_digit, token.is_title

  False False
I False True
love False False
3 True False
apples False False
for False False
$ False False
80 True False
. False False

In [149]:
#used
for token in c:
    print token, token.is_stop

for token in c:
    print token, token.is_space
    
for token in c:
    print token, token.is_punct

I True
hated False
Austin False
and True
the True
apple False
! False

In [99]:
def punct_space(token):
    """
    helper function to eliminate tokens
    that are pure punctuation or whitespace
    """
    return token.is_punct or token.is_space

def line_review(filename):
    """
    generator function to read in reviews from the file
    and un-escape the original line breaks in the text
    """
    for review in f:
        yield review.replace('\\n', '\n')
            
def lemmatized_sentence_corpus(filename):
    """
    generator function to use spaCy to parse reviews,
    lemmatize the text, and yield sentences
    """
    for parsed_review in nlp.pipe(line_review(filename),
                                  batch_size=10000, n_threads=4):
        
        for sent in parsed_review.sents:
            yield u' '.join([token.lemma_ for token in sent
                             if not punct_space(token)])

NameError: global name 'STOPLIST' is not defined

In [71]:
df['full_text_spacy'] = df['full_text'].apply(lambda x: unicode(x,encoding="utf-8") )

In [72]:
df['full_text_spacy'] = df['full_text_spacy'].apply(lambda x: nlp(x))

In [55]:
from gensim.models import Phrases
from gensim.models.word2vec import LineSentence

In [35]:
def punct_space(token):
    """
    helper function to eliminate tokens
    that are pure punctuation or whitespace
    """
    return token.is_punct or token.is_space

def line_review(filename):
    """
    generator function to read in reviews from the file
    and un-escape the original line breaks in the text
    """
    with codecs.open(filename, encoding='utf_8') as f:
        for review in f:
            yield review.replace('\\n', '\n')
            
def lemmatized_sentence_corpus(filename):
    """
    generator function to use spaCy to parse reviews,
    lemmatize the text, and yield sentences
    """
    for parsed_review in nlp.pipe(line_review(filename),
                                  batch_size=10000, n_threads=4):
        
        for sent in parsed_review.sents:
            yield u' '.join([token.lemma_ for token in sent
                             if not punct_space(token)])

In [ ]:
import os
trigram_reviews_filepath = os.path.join(intermediate_directory,
                                        'trigram_transformed_reviews_all.txt')

In [ ]:
%%time

# this is a bit time consuming - make the if statement True
# if you want to execute data prep yourself.
if 1 == 1:

    with codecs.open(trigram_reviews_filepath, 'w', encoding='utf_8') as f:
        
        for parsed_review in nlp.pipe(line_review(file_path_name),
                                      batch_size=10000, n_threads=4):
            
            # lemmatize the text, removing punctuation and whitespace
            unigram_review = [token.lemma_ for token in parsed_review
                              if not punct_space(token)]
            
            # apply the first-order and second-order phrase models
            bigram_review = bigram_model[unigram_review]
            trigram_review = trigram_model[bigram_review]
            
            # remove any remaining stopwords
            trigram_review = [term for term in trigram_review
                              if term not in spacy.en.language_data.STOP_WORDS]
            
            # write the transformed review as a line in the new file
            trigram_review = u' '.join(trigram_review)
            f.write(trigram_review + '\n')

In [ ]:
a = df["full_text"][0]
unicode_text = unicode(a, encoding = "utf-8")
nospace = re.sub("\n"," ", unicode_text)
parsed_review = nlp(nospace)
lemmatized = list()
for sentence in parsed_review.sents:
    for token in sentence:
        if not punct_space(token):
            lemmatized.append(token.lemma_)
lemmatized = filter(lambda x: not re.findall("htm",x),lemmatized)
lemmatized = filter(lambda x: len(x)>4, lemmatized)
lemmatized = filter(lambda x: not re.findall("\x95", x), lemmatized)
lemmatized = filter(lambda x: not re.findall("\x97", x), lemmatized)
lemmatized = filter(lambda x: not re.findall("\$", x), lemmatized)
lemmatized = filter(lambda x:(x != "filer") and (x != "contents") and (x != "table") and (x != "report") and
                    (x != "10-k.") and (x != "12b-2") and (x != "document") and (x != "financial"), lemmatized)
lemmatized